body{
  margin:0;
  height:100vh;
  background:black;
  overflow:hidden;
  font-family: monospace;
}

/* TELAS */
.tela{
  position:fixed;
  inset:0;
  opacity:0;
  pointer-events:none;
  transition:.6s ease;
}

.tela.ativa{
  opacity:1;
  pointer-events:auto;
}

/* FUNDOS */
.menu-bg{
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.1)),
    url("tpn inicial paper.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.tutorial-bg{
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.1)),
    url("tpn inicial paper.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.jogo-bg{
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.1)),
    url("gracefiled.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* MENU */
.titulo{
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  width:600px;
}

/* BOTOES CENTRALIZADOS */
.botoes{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:auto;
  text-align:center;
}

/* BOTÕES IMAGEM (Jogar e Continuar) */
.btn-img{
  width:250px;
  margin:0;
  cursor:pointer;
  transition:.25s;
}

.btn-img:hover{
  filter: brightness(1.6) drop-shadow(0 0 12px white);
  transform:scale(1.05);
}

/* TEXTO INTRO */
.texto{
  position:absolute;

  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

  width:80%;
  max-width:900px;

  text-align:center;
  font-size:24px;
  font-family: "Georgia", serif;
  line-height:1.6;

  color: gold;
  text-shadow:
    0 0 5px rgba(255,215,0,.4),
    0 0 10px rgba(255,215,0,.3),
    0 0 20px rgba(255,215,0,.2);

  background: rgba(0,0,0,0.45);
  padding: 25px 30px;
  border-radius:12px;
}

/* BOTÃO CONTINUAR */
#continuar{
  position:absolute;
  bottom:15%;
  left:50%;
  transform:translateX(-50%);
  display:none;
  animation: fadeBtn .6s ease;
  margin: 0 auto;
}

/* BOTÃO PULAR */
#pular{
  position:absolute;
  bottom:25%;
  left:50%;
  transform:translateX(-50%);
  animation: fadeBtn .4s ease;
}

/* ANIMAÇÃO DO BOTÃO */
@keyframes fadeBtn{
  from{
    opacity:0;
    transform:translate(-50%,10px);
  }
  to{
    opacity:1;
    transform:translate(-50%,0);
  }
}

/* BOTÃO VOLTAR */
.voltar{
  position:absolute;
  top:20px;
  left:20px;
  padding:10px;
  z-index:5;
}

/* CARTA */
.carta{
  position:absolute;
  bottom:-500px;
  left:50%;
  transform:translateX(-50%);
  width:350px;

  opacity:0;
  transition:.8s ease;
}

.carta.mostrar{
  bottom:80px;
  opacity:1;
}

/* BOTÃO DA CARTA */
.btn-carta{
  position:fixed;
  top:20px;
  right:20px;

  width:70px;
  cursor:pointer;
  transition:.2s;
}

.btn-carta:hover{
  filter:brightness(1.3);
  transform:scale(1.05);
}
